/* Hamburger menu styling */

.menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

nav {
  position: absolute;
  text-align: center;
  top: 0;
  background-color: var(--menu);
  width: 100%;
  height: 100vh;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}

nav li {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  list-style: none;
}

nav li a{
  color: #eee;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

nav li a:hover{
  text-decoration: underline;
}

.list {
  position: relative;
  top: 20%;
}

.list h2{
  color: #eee;
  font-family: 'Dancing Script';
  font-size: 2.5rem;
  margin: 2rem 0 1rem;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.nav-toggle {
  position: absolute;
  height: 65px;
  width: 65px;
  right: 1rem;
}

.toggle {
  display: none;
}

/* Display the hamburger menu bars (including top and bottom) */

.hamburger {
  position: absolute;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
}

.hamburger > div {
  position: relative;
  height: 5px;
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.hamburger > div::before, .hamburger > div::after {
  content: '';
  position: absolute;
  top: -12px;
  height: 5px;
  width: 100%;
  background: #eee;
  transition: all 0.4s ease;
}

.hamburger > div::after {
  top: 12px;
}

/* Effects when the checkbox gets checked
      Make menu appear
      Change button shape from burger to X*/

.toggle:checked ~ nav {
  transform: scale(1, 1);
}

.toggle:checked ~ nav h2 {
  opacity: 1;
  transition: opacity 0.4s ease-in-out 0.2s;
}

.toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0.4s ease-in-out 0.2s;
}

.toggle:checked ~ label > div > div{
  background: rgba(255, 255, 255, 0);
}

.toggle:checked ~ label > div > div::before{
  transform: translateY(12px) rotate(135deg);
  background: #eee;
}

.toggle:checked ~ label > div > div::after{
  transform: translateY(-12px) rotate(-135deg);
  background: #eee;
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  nav li{
    font-size: 1.2rem;
  }

  .list h2{
    font-size: 2rem;
    margin: 1rem 0;
  }

}
