@import url('https://fonts.googleapis.com/css?family=Catamaran|Lora|Open+Sans|Montserrat|Dancing+Script|Indie+Flower');

:root {
    --menu: rgba(86, 61, 124, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  background-color: #eee;
  color: #eee;
  font-family: 'dancing script', 'open sans';
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Main body styling */
.main-wrapper {
  height: 100vh;
  width: 100%;
  background: url('../imgs/disney.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Index styling */
.logout-btn {
  font-size: 1.6rem;
  font-family: 'Dancing Script';
  color: #eee;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0.8rem;
  padding: 0.2rem;
  cursor: pointer;
}

.logout-btn:hover {
  text-decoration: underline;
}

.welcome {
  position: absolute;
  top: 20%;
}

.invitation-text, .time {
  font-size: 1.4rem;
  margin: 0 1rem 1rem;
}

.invitation-text span {
  font-size: 1rem;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(86, 61, 124, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

/* Countdown styling */
#countdown-text {
  font-size: 1.4rem;
  text-align: center;
}

.days, .hours, .minutes, .seconds{
  display: inline-block;
  margin: 1rem;
}

/* Footer */
.copyright {
  color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.2rem;
  font-family: 'Montserrat';
  font-size: 0.6rem;
}

/* Media queries for responsive design */

@media only screen and (min-width: 768px) {
  .welcome {
    top: 15%;
    font-size: 2.8rem;
  }

  .invitation-text, .time {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .invitation-text span {
    font-size: 1.4rem;
  }

  #countdown-text {
    font-size: 2.4rem;
  }

}
